*.autosave
.ropeproject
dist/
lib/
__pycache__/
Makefile*
.qmake.stash
*.user
*/release/
*.rc
*.dll
*.o
*.ts
# We generate .qrc files, so don't commit them:
*.qrc
qrc_*.cpp
moc_*.cpp
ykman-cli/ykman
ykman-gui/moc_predefs.h
ykman-gui/ykman-gui
ykman-gui/ykman-gui.app/
ykman-cli/pymodules/
ykman-gui/pymodules/
.vagrant/
