*.autosave
.ropeproject
dist/
lib/
__pycache__/
Makefile*
.qmake.stash
*.user
*/release/
*.rc
*.dll
*.o
ykman-cli/qrc_qml.cpp
ykman-cli/ykman
ykman-gui/moc_qtlocalpeer.cpp
ykman-gui/moc_qtsingleapplication.cpp
ykman-gui/qrc_resources.cpp
ykman-gui/ykman-gui.app/
ykman-gui/ykman-gui
ykman-gui/pymodules/
ykman-gui/resources.qrc
