Source: yubikey-manager-qt
Maintainer: Debian Authentication Maintainers <pkg-auth-maintainers@lists.alioth.debian.org>
Uploaders: Dag Heyman <dag@yubico.com>,
           Dain Nilsson <dain@yubico.com>
Section: utils
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9),
               python3-pip,
               swig,
               python,
               libpcsclite-dev,
               libssl-dev,
               libffi-dev,
               qtbase5-dev,
               qtdeclarative5-dev,
               qml-module-qtquick-controls,
               qml-module-qtquick-controls2,
               qtquickcontrols2-5-dev,
               qml-module-qtquick-dialogs,
               qml-module-io-thp-pyotherside,
               qml-module-qt-labs-settings,
               libqt5svg5-dev,
Homepage: https://developers.yubico.com/yubikey-manager-qt/

Package: yubikey-manager-qt
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         python3-yubikey-manager (>= 0.7.0~dev),
         python3-yubikey-manager (< 0.8),
         qml-module-io-thp-pyotherside,
         qml-module-qt-labs-folderlistmodel,
         qml-module-qtquick-controls,
         qml-module-qtquick-controls2,
         qml-module-qtquick-dialogs,
         qml-module-qt-labs-settings,
         libqt5svg5,
         pcscd
Recommends: yubikey-manager
Description: Graphical application for configuring a YubiKey
 A graphical application for configuring a YubiKey over all transport modes.
